// Шрифт Bahnschrift
@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift');
  font-display: swap;
}

// Шрифт Franklin Gothic
@font-face {
  font-family: 'Franklin Gothic Medium Cond';
  src: local('Franklin Gothic Medium Cond');
  font-display: swap;
}

// Шрифт Protest Guerrilla
@font-face {
  font-family: "Protest Guerrilla";
  src: local("Protest Guerrilla");
  font-display: swap;
}

// Шрифт Nunito
@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  font-display: swap;
}